{% extends 'core/base.html' %}
{% block content %}
{% include 'navbars/core_nav.html' %}
<div class="container-fluid content-row">
   <div class="row">
      <div class="col col-sm-12">
         <div class="card pb-0 h-100" style="border-color: #394a59">
            <div class="card-header">
               <h5>Create New Shift Patterns</h5>
            </div>
            <div class="card-body">
               <button class="btn btn-primary" onclick="show_create_new()" {% if disabled %} disabled="disabled" {% endif %}>Create New</button>
               <div id="new_shift_div" style="display: none">
                  <br>
                  Enter the proportion of the hour (between 0 and 1) which is used for production in the table below. 
                  If a shift starts at 7:30am for example, put 0.5 into the "7-8" column. 
                  <br><br>
                  <div class="form-group">
                     <div class="row">
                        <label class="col-sm-2 control-label">Load Template</label>
                        <div class="col-sm-4">
                           <select name="shift_pattern_template" id="shift_pattern_template" style="width: 100%">
                              <option value=""></option>
                              {% for shift in shift_names %}
                              <option value="{{ shift }}">{{ shift }}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                  </div>
                  <form method="post" action="{{ url_for('core.create_new_shift_pattern') }}" onsubmit="return getContent()" autocomplete="off">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                     <textarea id="new_table_edits" name="new_table_edits" style="display: none"></textarea>
                     <div class="form-group">
                        <div class="row">
                           <label class="col-sm-2 control-label">New Pattern Name</label>
                           <div class="col-sm-4">
                              <input class="form-control" name="shift_pattern_name" placeholder="Enter name">
                           </div>
                        </div>
                     </div>
                     <div id="new_shift_div_table">{% include 'core/shift_patterns/shift_pattern_table.html' %}</div>
                     <input type="submit" class="btn btn-primary" value="Create Shift Pattern" style="width: 100%">
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   function show_create_new(){
       $('#new_shift_div').toggle();
   }
</script>
{% endblock %}
