{% set disabled = disable_button(['Senior Planning']) %}
<div id="{{ div_id }}">
   <table id="{{ table_id }}" class="display compact" style="width: 100%">
      <thead>
         {% for header in shift_headers %}
         <th>{{ header }}</th>
         {% endfor %}
      </thead>
      <tbody>
         {% for day_shift in shift_pattern %}
         <tr>
            {% for item in day_shift %}
            {% if loop.index0 > 0 %}
            <td>
               <div {% if not disabled %} contenteditable {% endif %}>{% if item > 0 %} <font color="green"><b>{{ item }}</b></font> {% elif item == 0 %} <font color="black">{{ item|int }} </font>{% else %} <font color="black"> {{ item }} </font>{% endif %}</div>
            </td>
            {% else %}
            <td>{{ item }}</td>
            {% endif %}
            {% endfor %}
         </tr>
         {% endfor %}
      </tbody>
      <tfoot></tfoot>
   </table>
</div>
<br>
{% if div_id == 'existing_table_div' %}
<input type="submit" class="btn btn-primary mb-3" value="Save Shift Pattern" style="width: 100%" {% if disabled %} disabled="disabled" {% endif %}>
<button type="button" class="btn btn-danger" onclick='delete_shift_pattern("{{ pattern_name }}")' style="width: 100%" {% if disabled %} disabled="disabled" {% endif %}>Delete Pattern</button>
<script>
   function delete_shift_pattern(pattern_name){
       var csrf_token = "{{ csrf_token() }}";
   
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
   
   $.ajax({
       type: 'POST',
       data: JSON.stringify({
           'pattern_name': pattern_name,
       }),
       contentType: 'application/json; charset=utf-8',
       url: "{{ url_for('wip_planning.delete_shift_pattern') }}",
	   success: function() {
               location.reload();	
           }
   });
   }
 
</script>
{% endif %}
<script>
   $(document).ready(function() {
    $('#{{ table_id }}').DataTable({
        "iDisplayLength": 7,
        "scrollX": true,
        "ordering": false,
        "bPaginate": false,
        "searching": false,
        "info": false,
        "bLengthChange": false,
        columnDefs: [{
            targets: "_all",
            className: 'dt-center'
        }],
    });
   });
</script>
<script>
   function getContent(){
       document.getElementById("new_table_edits").value = document.getElementById("{{ div_id }}").innerHTML;
   }
</script>

