<style>
.scrollable-menu {
    height: auto;
    max-height: 560px;
    overflow-x: hidden;
}
</style>

<nav id="sidebar">
   <ul class="list-unstyled components scrollable-menu">
   {% if current_user.is_authenticated %}
   <hr color="white" style="margin-top: 2px; margin-bottom: 2px"></hr>
   
      <li>
         <a href="{{ url_for('home.homepage') }}">Home</a>
      </li>
	  <hr color="white" style="margin-top: 2px; margin-bottom: 2px"></hr>
      <li>
         <a href="#">Analysis</a>
      </li>
	  <hr color="white" style="margin-top: 2px; margin-bottom: 2px"></hr>
      <li>
         <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick="get_dept_list()">Departments</a>
         <ul class="collapse list-unstyled" id="pageSubmenu">
            
         </ul>
      </li>
      <hr color="white" style="margin-top: 2px; margin-bottom: 2px"></hr>
      <li>
         <a href="{{ url_for('core.homepage') }}">Settings</a>
      </li>
   </ul>
   {% endif %}
</nav>
<script>
function get_dept_list(){
    
	var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
	
	$.ajax({
       type: 'POST',
       data: JSON.stringify({}),
       contentType: 'application/json; charset=utf-8',
       url: "{{ url_for('core.get_department_list') }}",
       success: function(data) {
           $("#pageSubmenu").empty();
           for (var i = 0; i < data.length; i++) {
               $("#pageSubmenu").append('<a href="/departments/' + data[i].id + '">' + data[i].name + '</a>');
           }
       }
   });
}
</script>